extends layout 

block content

  h1 #{title}: #{book.title}

  if book_instances.length

    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Books

      dl
      each book_copy in book_instances
        p #[strong Id:] 
          a(href=book_copy.url) #{book_copy._id}
        if book_copy.status=='Available'
          p.text-success #{book_copy.status}
        else if book_copy.status=='Maintenance'
          p.text-danger #{book_copy.status}
        else
          p.text-warning #{book_copy.status} 
        p #[strong Imprint:] #{book_copy.imprint}
        if book_copy.status!='Available'
          p #[strong Due back:] #{book_copy.due_back}
       


  else 
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden', name='bookid', required='true', value=book.id)
      button.btn.btn-danger(type='submit') Delete